<% provide :title, 'Tobias Schlottke &bull; Tech Fanatic. &bull; Thinking Online-Marketing, Ad-Technology &amp; Ruby on Rails. &bull; With a certain Entrepreneurial Attitude.'.html_safe %>

<script type="text/javascript" charset="utf-8">
$(function(){
  Slider.initialize(
    [
    "/assets/adyard.jpg",
    "/assets/stern.jpg",
    "/assets/moviepilot.jpg",
    "/assets/github.jpg",
    "/assets/vimico.jpg",
    ],
    $('.sliderText').map(function(){
      var content = $(this).html();
      $(this).hide();
      return content;
    })
  )
});
</script>

<!-- search engine friendly slider texts -->
<p class="sliderText">
  Founder and CPO/CTO at <a href="http://adyard.de" target="_blank">adyard</a>, a performance marketing network. 
  <br/>Acquired by Gruner + Jahr in 2010.
</p>

<p class="sliderText">
  Technical project management for the <a href="http://stern.de" target="_blank">stern.de</a> relaunch in 2009.  <br/>Stern is one of the biggest german magazines.
</p>
<p class="sliderText">
  CTO at <a href="http://moviepilot.de" target="_blank">moviepilot</a>, a movie recommendation platform. It's the Last.fm for movies.
</p>

<p class="sliderText">
  In love with open minds and open software.<br/> Follow me at <a href="http://github.com/tobsch" target="_blank">github</a>
</p>

<div id="splash">
  <div id="intro">
    <h1>Tobias Schlottke</h1>
    <h2>Tech Fanatic. <br /> 
      Thinking Online-Marketing, Ad-Technology &amp; Ruby on Rails.
      <br/> With a certain Entrepreneurial Attitude.</h2>
      <div class="navigation-back">
      </div>
    </div>
    <div class="navigation-forward">
    </div>

    <div id="graphic">
    </div>
    <div id="text">
    </div>
</div>

<div id="info">
  <%= link_to image_tag('icons/32px/xing.png', :alt => 'XING'), 
      'http://xing.com/profile/Tobias_Schlottke2/', :target => '_blank' %>

  <%= link_to image_tag('icons/32px/facebook.png', :alt => 'Facebook'), 
      'http://facebook.com/charlie.lownoise', :target => '_blank' %>

  <%= link_to image_tag('icons/32px/linkedin.png', :alt => 'LinkedIn'), 
      'http://www.linkedin.com/profile/view?id=6331851', :target => '_blank' %>

  <%= mail_to 'tobias.schlottke@gmail.com',
      image_tag('icons/32px/google.png', :alt => 'E-Mail'), :encode => 'javascript' %>

  <%= link_to image_tag('icons/32px/twitter.png', :alt => 'Twitter'),        
      'http://twitter.com/tobsch', :target => '_blank' %>

  <%= link_to image_tag('icons/32px/github.png', :alt => 'github'), 
      'http://github.com/tobsch', :target => '_blank' %>

  <%= link_to image_tag('icons/32px/lastfm.png', :alt => 'last.fm'), 
      'http://www.lastfm.de/user/TobiFr', :target => '_blank' %>
  <%= link_to image_tag('icons/32px/spotify.png', :alt => 'Spotify'), 
      'http://open.spotify.com/user/pop-affe', :target => '_blank' %>
  <div id="caption">
    test
  </div>
</div>

